<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <p>
  	 Splurty was built by <a target="_blank" href="http://github.com/yanhackcode15">Yan</a> A web technology euthusiast whose first full stack project was built through <a href="http://TheFireHoseProject.com">TheFireHoseProject</a> online bootcamp.
  </p>
  <br />
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'yan-profile.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Yan Hu</h2>
    <br />
    <p>
      Yan Hu is product manager and a web developer in training. She advocates and lives for solving interesting user experience problems and helping companies build a sustainable businesses along the way.  Her 90 day challenge is to build her own web app using third party API(s) and write some awesome css to make the user experience seamless and hassle free. She's confident that TheFireHoseProject will help her get there.
    </p>
    <br />
  </div>
  <br class="clear" />
  <br />
</div>