<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <p>
  	 Splurty was built by <a target="_blank" href="http://github.com/yanhackcode15">Yan</a> A web technology euthusiast whose first full stack project was built through <a href="http://TheFireHoseProject.com">TheFireHoseProject</a> online bootcamp.
  </p>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'yan-profile.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Yan Hu</h2>
    <br />
    <p>
      Yan Hu is a web developer in training and product manager. She advocates and live for solving interesting user experience problems and help companies to build a sustainable busiensses along the way.
    </p>
  </div>
  <br class="clear" />
  <br />
</div>